<!DOCTYPE html>
<html lang="en">
<head class="w-full h-60">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<footer class="flex justify-start items-start">
    <div class="h-60 w-full flex bg-gradient-to-r from-[#fdf0d5] to-[#003049]" id="body" >
        <!-- left half -->
        <div class="flex justify-center items-center basis-1/2 ">
           <!-- left left half -->
            <div class="flex flex-col   basis-1/2 h-full w-full m-3 p-2">
                <h2 class="text-3xl text-bold uppercase text-yellow-700">About Us</h2>
                <p class="text-lg text-bold text-slate-700">We are dedicated to providing insightful content on web development, technology trends, and digital innovation. Follow our blog for tutorials, tips, and industry updates.</p>
            </div>
            <!-- left right half -->
            <div class=" flex flex-col basis-1/2 h-full w-full m-3 px-4 py-2">
                <h2 class="text-3xl text-bold uppercase text-yellow-700">Follow Us on..</h2>
                <ul class="list-disc list-inside text-lg text-slate-700">
                    <!-- <li>Facebook</li> -->
                    <a href="https://x.com/home"><li class="hover:text-bold hover:text-xl hover:text-blue-300">Twitter</li></a>
                    <a href="https://www.instagram.com/accounts/login/?hl=en"><li class="hover:text-bold hover:text-xl hover:text-blue-300">Instagram</li></a>
                    <a href="https://in.linkedin.com/"><li class="hover:text-bold hover:text-xl hover:text-blue-500">LinkedIn</li></a>
                </ul>
            </div>
        </div>
        <!-- right half -->
            <div class="flex flex-col h-full w-full  m-3 p-2 justify-evenly items-center basis-1/2 m-3 ">
                <div class="flex justify-center w-full items-center">
                    <h3 class="text-2xl font-bold text-center">
                        Join our newsletter below!!
                    </h3>
                </div>
                <div class="w-full items-center text-center justify-center items-center">
                    <form action="/" method="get" class="content-between ">
                        <input type="email" placeholder="Enter your email" name="Enter you email" class="px-5 py-2 border-gray-400 rounded-lg ml-3 min-h-fit min-w-fit">
                    </form>
                    <div class="p-2 rounded-full"><a href="/"><button  class="p-2 rounded-lg border-2 border-yellow-600 hover:border-yellow-800 bg-yellow-500 hover:bg-yellow-600">Submit</button></a>
                    </div>
                </div>
        </div>
        </div>
    </div>
</footer>
</html>