<!DOCTYPE html>
<html lang="en">
<head class="w-full h-24">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="main.css">
    <title>header</title>
</head>
<header class="flex ">
    <div class="h-32 w-full" id="body" >
        <div class="flex flex-row  justify-center items-center size-full bg-[#14213d]">
            <div class="container w-full h-full justify-center items-center m-3 mt-5 basis-1/4 ">
                <a href="/">
                    <div class="hover:scale-125 ease-in-out duration-500 w-24 h-24 justify-center rounded-full items-center bg-blue-500 m-2 ">
                        <img src="images/logo.png" alt="LOGO" class=" rounded-full w-full h-full p-1">
                    </div>
                </a>
            </div>
                
            <div class="container w-full h-full items-start basis-1/2 m-5"></div>

            <div class="flex flex-row container w-full h-full justify-center items-center  m-5 basis-1/4 uppercase">
                <div class="items-center m-2 basis-1/3"><a href="/" class=" p-2 hover:px-5 rounded-full border-solid border-4 border-blue-400 hover:scale-125 hover:rounded-full hover:border-blue-600 bg-[#FFF5E4] hover:bg-cyan-600 active:border-blue-700 active:bg-green-700 ease-in-out duration-700 hover:text-white text-bold text-zinc-600" >HOME</a>
                </div>
                <div class="justify-center items-center m-2 basis-1/3"><a href="/about" class=" p-2 hover:px-5 rounded-full border-solid border-4 border-blue-400 hover:scale-125 hover:rounded-full hover:border-blue-600 bg-[#FFF5E4] text-bold text-zinc-600 hover:bg-cyan-600 ease-in-out duration-700 hover:text-white">About</a>
                </div>
                <div class="items-center m-2 basis-1/3"><a href="/contact" class=" p-2 hover:px-5 rounded-full border-solid border-4 border-blue-400 hover:scale-125 hover:rounded-full hover:border-blue-600 bg-[#FFF5E4] text-bold text-zinc-600 hover:bg-cyan-600 ease-in-out duration-700 hover:text-white">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>
</html>